body {
    position: relative;
    top: 100px;
    left: 50px;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    height: 10vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;

}

article.container {
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    max-width: 400px;
    height: 490px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 1.2rem;
    box-shadow: 8px 8px 0 black;
}

.image {
    width: 100%;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.tag {
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    color: black;
    background-color: hsl(47, 88%, 63%);
    padding: 0.25rem 1rem;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
}

.date {
    font: size 0.2rem;
    ;
    color: black;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 800;
    margin: 0.5rem 0;
}

.description {
    font-size: 0.875rem;
    color: gray;
    margin-bottom: 1.5rem;

}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile-name {
    font-size: 0.875rem;
    font-weight: 800;
}